body {
  font-family: 'Inter', sans-serif;
}

.swiper {
  max-width: 900px;
}

.tweets {
  padding: 0 10px;
  margin-top: 50px;
}

.tweets_container {
  position: relative;
}

.tweets_wrapper {
  padding: 0 70px;
  margin: auto;
  height: 210px;
}

.tweets_swiper {
  height: 100%;
}

.tweets_item {
  display: flex;
  background: #EAF5FF;
  border-left: 10px solid #1D9BF0;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.07);
  height: 100%;
  max-width: 700px;
  margin: auto;
}

.tweets_item_logo {
  background: #A95774;
  display: block;
  min-width: 51px;
  height: 51px;
  border-radius: 50%;
  margin-right: 10px;
  margin: 10px 0 0 10px;
}

.tweets_item_main {
  width: 100%;
  padding: 10px 10px 10px 5px;
  display: flex;
  flex-direction: column;
}

.tweets_item_main_header {
  display: flex;
  width: 100%;
  align-items: center;
}

.tweets_item_main_header_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 5px;
  margin-left: 0;
}

.tweets_item_main_header_username, .tweets_item_main_header_time {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #535D65;
  margin-left: 0;
  margin-right: 5px;
}

.tweets_item_main_header_actions {
  margin-right: 0;
  margin-left: auto;
  display: flex;
}

.tweets_item_main_header_delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 31px;
  background: #B3CBDB;
  border-radius: 27px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #1B1B1B;
  margin-right: 5px;
  cursor: pointer;
}

.tweets_item_main_header_sale {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #1D9BF0;
  border: 2px solid #1D9BF0;
  border-radius: 27px;
  cursor: pointer;
}

.tweets_item_main_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #131313;
  margin-bottom: 30px;
  margin-top: 10px;
}

.tweets_item_main_footer {
  display: flex;
  margin: auto 0 0 0;
}

.tweets_item_main_footer_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
  cursor: pointer;
}

.tweets_item_main_footer_btn span {
  margin-left: 5px;
}

.tweets_nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.tweets_nav_left, .tweets_nav_right {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 100%;
  background: #F5F5F5;
  border: 1px solid #DFDFDF;
  border-radius: 20px;
  z-index: 999;
}

.tweets_nav_left {
  position: absolute;
  top: 0;
  left: 0;
}

.tweets_nav_right {
  position: absolute;
  top: 0;
  right: 0;
}
